﻿body
{
}
.tableCase
{
  width:930px;  
  margin-left:30px;
  margin-right:10px;
  text-align:left;
  height:55px; 
}
.styleHeading
{
 color:Green;
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#235709;
 font-weight:bold; 
 border-bottom:1px dotted #235709;
 vertical-align:top;
 text-align:left;

}
.tdCaseSearch
{
  height:10px;
  font-size:0.9em;
  font-weight:bold;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
  width:20%;
  text-align:right;
}
.tdCase
{
   width:25%;
   background-image:url(../img/header_case.gif);
   background-position:center;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;  	
    
}
.tdCreatDate
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdLabeling
{
  font-size:0.9em;
  font-weight:normal;
  font-family:Arial;

}
.tdSubLabeling
{
  font-size:0.6em;
  font-weight:normal;
  font-family:Arial;
 
}
.txtBox
{
	background-color:#cccccc;
	font-size:0.9em;
	font-family:Arial;
	color:Black;	
}
.tdIdxNo
{
   width:25%;
    background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
 
}
.tdPayLoc
{
   width:25%;
    background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  
}
.tdCaseStatus
{
  width: 25%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
} 
.tdDivision
{
  width:25%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdBorough
{
  width:25%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	 
} 
.tdBadge
{
  width:25%;
   background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;	
}
.tdRespDetails
{
  width:25%;
  background-color: #a4d49a;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	

}
.tdRespName
{
 width:50%;
  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdRespTitle
{
 width:25%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
  border-right:2px solid #1e951f;
}
.tdRespDistrict
{
  width:25%;
   background-color: #a4d49a;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespRefNo
{
	width:25%;
  background-color:#999999;
    border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespSSNo
{
  width:25%; 
  background-color:#999999;  
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespAppoint
{
  width:25%;
   background-color:#999999; 
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
} 
.tdRespIncDate
{
	width:25%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespIncDist
{
	width:25%;
  background-color:#999999;
    border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespVacSch
{
	 width:25%; 
  background-color:#999999;  
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRespChartDay
{
	  width:25%;
   background-color:#999999; 
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdRulesViolated
{
	width:100%;
	background-color:#999999;  
	border-left:2px solid #1e951f; 
	border-top:2px solid #1e951f;
	border-right:2px solid #1e951f;
	
}
.tdGnrlCmts
{
	width:50%;
	 background-color:#999999; 
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f; 
}
.tdComplainantName
{
 width:50%; 
  background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdComplainantTitle
{
 width:25%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdComplainantDistrict
{
  width:25%;
  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdCompStmt
{
	width:100%;
	  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
	
}
.tdAdjudication
{
	width:25%;
	background-image:url(../img/header_adjudication.jpg);
	background-position:center;
	 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdNonPltyRslt
{
	width:25%;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
	
}
.tdAdjudicationBody
{
	width:25%;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdAdjudicationDate
{
	width:25%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdPenalty
{
	width:100%;
	background-image:url(../img/header_penalty.jpg);	
	background-position:center;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;	
}
.tdAboutPenalty
{
		width:100%;
	   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  border-bottom:2px solid #1e951f;
  vertical-align:top;
   
}
.ChargeCompletionList
{	
	font-size:0.9em;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:normal;
  height:100px;   
   overflow-y:scroll;
   margin-left:0px;
   border-bottom:1px solid #1e951f;
    border-left:1px solid #1e951f;
    border-right:1px solid #1e951f;
    background-color:White;  		
}
.MyCalendar .ajax__calendar_container
{    
	  
     background-color:#E2F6E2;    
   
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,.MyCalendar .ajax__calendar_other .ajax__calendar_year {    color: #717D7D;}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,.MyCalendar .ajax__calendar_hover .ajax__calendar_month,.MyCalendar .ajax__calendar_hover .ajax__calendar_year {    color: black;}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,.MyCalendar .ajax__calendar_active .ajax__calendar_month,.MyCalendar .ajax__calendar_active .ajax__calendar_year {    color: black;    font-weight:bold;}
