﻿body
{
}
.tableCase
{
  width:930px;  
  margin-left:30px;
  margin-right:10px;
  text-align:left;
  height:55px;
 
}
.styleHeading
{
 color:Green;
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#235709;
 font-weight:bold; 
 border-bottom:1px dotted #235709;
 vertical-align:top;
 text-align:left;

}
.tdRecBy
{
   width:23%;
    background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  
}

.tdCase
{
   width:31%;
   background-image:url(../Images/header_case.gif);
   background-position:center;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;  	
    
}
.tdCaseId
{
   width:23%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdRecDate
{
   width:23%;
    background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
 
}      

.tdCaseSearch
{
  height:10px;
  font-size:0.9em;
  font-weight:bold;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
  width:20%;
  text-align:right;
}
.tdLabeling
{
  font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
}
.styleCaseSearchTxt
{
	width:40%;
 
}
.tdCaseStatus
{
  width: 31%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
} 
.tdCompIdx
{
  width:23%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdModDate
{
  width:23%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	 
} 
.tdModBy
{
  width:23%;
   background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;	
}    
.tdCaseStatusTxt
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
  width:100%;
}
.tdCompDetails
{
  width:31%;
   background-image:url(../Images/header_complaint.gif);
   background-position:center;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	

}
.tdName
{
 width:46%;
  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdTitle
{
 width:23%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
  border-right:2px solid #1e951f;
}
.tdDistrict
{
  width:31%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdRefNo
{
	width:19%;
  background-color:#999999;
    border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdSSNo
{
  width:27%;   
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdAppoint
{
  width:23%;
   background-color:#999999; 
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdComplainantName
{
 width:50%; 
  background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdComplainantTitle
{
 width:27%;
  background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdComplainantDistrict
{
  width:23%;
  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdInstruction
{
	font-size:0.6em;
	background-color:#a4d49a;
	border:2px solid #1e951f;
}
.tdCharges
{
 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  margin-left:5px;
 width:325px;

}
.tdChanges
{
 font-size:0.6em;
 width:110px;
 text-align:center;
}
.tdPrimary
{
 font-size:0.6em;
 width:110px;
 text-align:left;
 border-left:2px solid #1e951f;
}

.tdOverRide
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  text-align:left;
 width:410px;
 border-right:2px solid #1e951f;
}
.tdTxtCharges
{
	text-align:right;
 width:45%;
}
.tdChkBox
{
	text-align:center;
 width:10%;
}
.tdTxtOverRide
{
	text-align:left;
 width:45%;
}
.tdStatus
{
	width:31%;
   background-image:url(../Images/header_status.gif);
   background-position:center;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdAction
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:46%;
   
}
.tdActionDate
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:23%;
}
.tdReviewStatus
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:36%;
	 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdSpecialStatus
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:32%;
	 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdTrialStatus
{
	 font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:32%;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdAssComp
{
	width:36%;
	background-image:url(../Images/header_assoc.gif);
	background-position:center;	 
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  height:45px;
}
.tdHearings
{
	width:64%;
	 background-image:url(../Images/header_hearings.gif);
	 background-position:center;
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  height:45px;
}
.tdTxtAssComp
{
	width:36%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
	
}
.tdPnlHearingsStatus
{
	
  width:64%;
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  vertical-align:top;	
}
.tdCalStatus
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:16.0%;
}
.tdHearingDate
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:16.0%;
}
.tdType
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:16.0%;
}
.tdHearingStatus
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	width:16.0%;
}
.tdPenalty
{
	width:50%;	
	background-image:url(../Images/header_penalty.gif);
	background-position:center;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}
.tdTotal
{
	font-size:0.9em;
  font-weight:normal;
  font-family:Arial;
  margin:0px 5px 0px 3px;
  _margin-left:5px;
	text-align:right;
}
.tdAppeals
{
	width:50%;
	background-image:url(../Images/header_appeals.gif);
	background-position:center;
     border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}
.tdAboutPenalty
{
		width:50%;
	   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  vertical-align:top;
   
}
.tdAboutAppeals
{
		width:50%;
	   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
  vertical-align:top;
}
.tdFinal
{
	width:100%;	
	background-image:url(../Images/header_final.gif);
	background-position:center;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;	
}
.tdAboutFinal
{
	width:50%;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-bottom:2px solid #1e951f;
	
}	
.txtBox
{
	background-color:#cccccc;
	font-size:0.9em;
	font-family:Arial;	
}
.panelHear
{
	width:66%;
}
.infoStyleGreen1 
{
  font-family:Arial; 
  font-weight:bold; 
  font-size:0.95em; 
  color:#235709
}
.infoStyleGreen2 
{
	font-family:Arial; 
	font-weight:bold; 
	font-size:0.95em; 
	color:#1e951f;
}

.HighlightedItem
{
	background-color:Green;
}

.CompletionList
{
	
	font-size:1.0em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:200px; 
	width:150px;  
	overflow:scroll;
	margin-left:1px;
	border-top:2px solid #1e951f;
	border-bottom:2px solid #1e951f;
    border-left:2px solid #1e951f;
    border-right:2px solid #1e951f;
    background-color:White;
}

.ListItem
{	 
    background-color:#E2F6E2;
}

.AutoComplete
{
	overflow:auto;
	height:60px;
}

.WaterMark
{
	font-family:Arial; 
	color:#cccccd;
}

.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Body
{
	padding:15px 15px 15px 15px;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	padding:20px;
}		

.MyCalendar .ajax__calendar_container
{    
	  
     background-color:#E2F6E2;    
   
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,.MyCalendar .ajax__calendar_other .ajax__calendar_year {    color: #717D7D;}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,.MyCalendar .ajax__calendar_hover .ajax__calendar_month,.MyCalendar .ajax__calendar_hover .ajax__calendar_year {    color: black;}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,.MyCalendar .ajax__calendar_active .ajax__calendar_month,.MyCalendar .ajax__calendar_active .ajax__calendar_year {    color: black;    font-weight:bold;}



 