﻿body
{

}

 .login
 {
 	Height:150px; 
 	Width:430px;
 	 margin-top:50px;
    margin-left:50px;
    border:1px solid #1e951f;
	vertical-align: top;
 }
 .tdHeading
 {
   width: 430px;
   height: 40px;
   background-color:#1e951f;
   font-size:12px; 
   font-family:Verdana, Arial, Helvetica, sans-serif;
   color:White;
   padding-left:8px;
   text-align:center;
   font-weight:bold;
   vertical-align:middle;
 }
 .subTable
 {
 	background-color:#a4d49a;
 }
 .tdSignID
 {
   width:100%;
   background-color:#a4d49a;
   text-align:left;
   vertical-align:top;
   font-size:12px;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-weight:bold;
 }

.tdButton
 {
   vertical-align:top;
 }
.message
{
	margin-left:50px;
    width:430px;
    height:195px;
}
.SignMsg
{
	color:Red;
	font-family:Arial; 
}
.infoStyleGreen1 
{
  font-family:Arial; 
  font-weight:bold; 
  font-size:0.95em; 
  color:#235709
}
.infoStyleGreen2 
{
	font-family:Arial; 
	font-weight:bold; 
	font-size:0.95em; 
	color:#1e951f
}
.version
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
  margin-left:0px;
}
.bggrey
{
	background-color: #666666;
	color:#fff;
	margin-bottom:0px;
}
.copyright
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
}

