div.errorMessage {background:url('../images/errorAlert.gif') 17px 11px no-repeat; font-size:12px; border:solid 1px #D60000; padding-left:60px; padding-top:7px; padding-bottom:7px; margin-bottom:10px;}
	div.errorMessage table {margin-top:5px; }
		div.errorMessage table td { font-size:1em; line-height:14px;}
	div.errorMessage b { font-size:16px; color:#D60000;}

div.floatEliminator {clear:both; height:1px; font-size:1px; line-height:0px; margin:0px; padding:0px;}

div.divBox {border: 1px #6699CC solid;}

div.modFormHolder {border:1px; padding:0px; padding-bottom:8px; margin-bottom:5px; overflow:auto;}
		fieldset {padding:0px; border:0px; margin:0px 0px 0px 0px; }
		div.modFormBox { color:#000; padding:0px; }

.ecol1 { width:250px; vertical-align: top; }
.ecol2 { vertical-align: top; border-left:1px solid #CCC; }
.rich-calendar-tool-btn{
    font-family: Arial, Verdana;
} 

.panel {
        vertical-align:top;
}
.top {
        width:200px;height:100px;
}
.head2 {
        background-color : #4C9600;
        height:18px;
        text-align:center;
        vertical-align:middle;
        color:#CFF;
        padding:4px 0;
}
.richPanelBody {
        overflow:auto;
        background-color : #E4FFC8;
        color:#CFF;
        padding:4px 0;
}
.richPanelBody2 {
        overflow:auto;
        background-color : #F4FFF8;
        color:#CFF;
        padding:0px;
}

errorTextServerside { float:left; display:block; background:#f5f5f5; border:solid 1px #d60000; width:143px; _width:150px; font-size:1em; float:left; padding:2px; vertical-align:top;}

.errorStyle {font-family:Arial; color:red; font-weight:bold; font-size:12px}
.infoStyle {font-family:Arial; font-weight:bold; font-size:0.95em}

.labelBoldStyle { font-family:Arial; font-size:1.3em; margin:0px 20px 0px 3px; _margin-left:5px; font-weight:bold; }
.labelBoldStyleOth { font-family:Arial; font-size:1.1em; margin:0px 20px 0px 3px; _margin-left:5px; font-weight:bold; }
.labelBold8SizeStyle { font-family:Arial; font-size:.8em; margin:0px 20px 0px 3px; _margin-left:5px; font-weight:bold; }
.labelStyle { font-family:Arial; font-size:1em; margin:0px 20px 0px 2px; _margin-left:5px; font-weight:normal; }
.label8Style { font-family:Arial; font-size:0.7em; margin:0px 20px 0px 2px; _margin-left:5px; font-weight:normal; }
.inputFieldStyle { font-family:Arial; font-size:1.3em; margin:0px 1px 0px 2px; 
_margin-right:2px; font-weight:normal; }
.inputField1Style { font-family:Arial; font-size:1.0em; margin:0px 20px 0px 2px; _margin-right:2px; font-weight:normal; }

/*
dr-sdt rich-sdt
.rich-sdt {border-color:#235705}
*/
.rich-sdt {border-color:#006600}

/*dr-sdt-hr*/
.rich-std-header-row {background-color:#a4d49a;}
/*dr-sdt-hc*/
/*
.dr-sdt-hc{color:#FFF;font-family:Arial,Verdana,sans-serif;font-size:11px;border-bottom-width:1px;border-bottom-color:#C0C0C0;border-right-width:1px;border-right-color:#C0C0C0;}
*/
.rich-sdt-header-cell {font-size:25px; font-weight:bold; padding:3px 0px 0px 0px; text-align:center; border-color:#235705;}
/*dr-sdt-hcbody - div*/
/*dr-sdt-hsep rich-sdt-hsep - span*/
/*dr-sdt-sort-icon - div*/

.headerText {font-size:1.3em; font-weight:bold; color:#000000}

/*dr-sdt-rb*/
.rich-sdt-row {}
/*dr-sdt-bc
.dr-sdt-bc{box-sizing:border-box;-moz-box-sizing:border-box;-moz-outline:none;-moz-user-focus:normal;cursor:default;border-right:1px solid;border-bottom:1px solid;}
*/
.rich-sdt-column-cell {background-color:#FFFFFF; border:1px; font-size:25px; padding:3px 0px 0px 0px; text-align:center; border-color:#235705;}
/*dr-sdt-bcbody - div*/

.col1 {background-color:#a4d49a; font-size:2em; font-weight:bold; color:#000000}
.col2 {background-color:#FFFFFF; font-size:2em; font-weight:bold; color:#000000}
.colValue1 {font-size:1.3em; font-weight:normal; font-color:#000000}
.colValue2 {font-size:1em; font-weight:bold; margin:4px 5px 6px 5px; padding:0px 5px 0px 0px;}

/*
.rich-sdt {font-size:2em}
.rich-sdt-header-row {border:0px; font-size:2em; font-weight:bold;}
.rich-sdt-header-cell {border:0px; font-size:2em; font-weight:bold;}
.col{font-size:2em; padding:2px 2px 2px 2px;}
*/
