/*
TD{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #000000;
}
*/

BODY{
	margin:0px;
}


/* styles for input, textarea, select */

.txtborder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
	border: 1px solid #666666;
	background-color: #f4f4f4;
}

.button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	border-top: 1px solid #99CCFF;
	border-left: 1px solid #99CCFF;
	border-right: 1px solid #224F7F;
	border-bottom: 1px solid #224F7F;
	background-color: #5688BD;
}

.button1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	border: 2px solid #224F7F;
	background-color: #5688BD;
}

.bordergrey{
	border:1px solid #CD6500;
}

/* styles for fonts sizes */

.font9{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9px;
  color:#000000;
}
.font9white{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9px;
  color:#FFFFFF;
}

.font10{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#000000;
}

.font10white{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#FFFFFF;
}

.fontorange{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#AC5A07;
}

.fontblue{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding-left:6px;
  color:#336699;
  line-height:19px;
}

.fontcontentred{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding:10px;
  color:#990000;
  line-height:19px;
}

.fontcontent{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding:10px;
  color:#333333;
  text-align:justify;
  line-height:18px;

}

.font11{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#000000;
}

.font11white{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
}

.font12{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000000;
  font-weight:bold;
}

.font12white{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#FFFFFF;
  font-weight:bold;
}

.fonttitle{
  font-family:  Arial, Helvetica, sans-serif;
  font-size:18px;
  color:#235709;
  font-weight:bold;
	border-bottom:1px dotted #235709;
}




.fontheading{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:14px;
  color:#336699;
  font-weight:bold;
}




.infotext{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  color:#666666;
  line-height:14px;
}


/* styles for bgcolor */

.bgwhite{
	background-color: #FFFFFF;
}

.bgblack{
	background-color: #000000;
}

.bggrey{
	background-color: #666666;
	color:#fff;
}

.bggrey2{
	background-color: #E9E9E9;

}

.tableheadbg{
	background-color: #666666;
	color:#663300;
	background-image:url(../images/table_bg.gif);
}



.bgorange{
	background-color: #a4d449;
}

.bgred{
	background-color: #990000;
}

.bggreen1{
	background-color: #1e951f;
}

.bggreen2{
	background-color: #a4d49a;
}

.bordergreen{
	border:1px solid #1e951f;
}

.snip{
	float: right; 
	padding: 1px; 
	color: #C9A423; 
	border-style: dotted; 
	border-width: 2px; 
	padding-right: 4px; 
	border-color: #191919; 
	background-color: #4B4B4B; 
	width: 95;
	font-size: 11pt;
	font-weight: 700;
	text-align: center;
}

.blurredbox{
	position:absolute;
	width:100px;
	background:#000000;	
}

.tdgradient{
	background:#BAC4BB;	
}


/* style for default links*/
/*
a, a:link, a:active, a:vlink {
	font: bold 11px verdana;
	color: #CC6600; 
	text-decoration: underline;
	font-weight: bold;
}
a:hover { 
	font: bold 11px verdana;
	color: #5CA35A; 
	text-decoration: none; 
	font-weight: bold;
}
*/

a, a:link, a:active, a:vlink, a.visited {
	font: bold 11px verdana;
	/*color: #FFA621; */
	text-decoration: underline;
	font-weight: bold;
}
a:hover { 
	font: bold 11px verdana;
	/*color: #FFA621; */
	text-decoration: underline; 
	font-weight: bold;
}

/* style on the top links */
/*
A.linktopsmall:link
{
	color: #990100;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight:bold;
}

A.linktopsmall:visited
{
	color: #990100;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight:bold;
}
A.linktopsmall:active
{
	color: #990100;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight:bold;
}
A.linktopsmall:hover
{
	color: #990100;
    font-family: verdana;
    font-size: 10px;
    text-decoration: underline;
	font-weight:bold;
}
*/

/* style for link in green tab */
/*
A.linktabgreen:link
{
	color: #336600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}

A.linktabgreen:visited
{
	color: #336600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}
A.linktabgreen:active
{
	color: #336600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}
A.linktabgreen:hover
{
	color: #336600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}
*/



/* style for link in orange tab */
/*
A.linktaborange:link
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}

A.linktaborange:visited
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}

A.linktaborange:active
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}
A.linktaborange:hover
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}
*/




/* style for link in orange tab */
/*
A.linktabblue:link
{
	color: #1E5185;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}

A.linktabblue:visited
{
	color: #1E5185;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}

A.linktabblue:active
{
	color: #1E5185;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}
A.linktabblue:hover
{
	color: #1E5185;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}
*/


/* style for link in orange tab */
/*
A.linktaborange1:link
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}

A.linktaborange1:visited
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}

A.linktaborange1:active
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: none;
	font-weight: normal;
}
A.linktaborange1:hover
{
	color: #CC6600;
    font-family: verdana;
    font-size: 11px;
    text-decoration: underline;
	font-weight: normal;
}
*/

/* style for links in footer */
/*
A.linkwhite:link
{
	color: #FFFFFF;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight: bold;
}

A.linkwhite:visited
{
	color: #FFFFFF;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight: bold;
}

A.linkwhite:active
{
	color: #FFFFFF;
    font-family: verdana;
    font-size: 10px;
    text-decoration: none;
	font-weight: bold;
}
A.linkwhite:hover
{
	color: #FFFFFF;
    font-family: verdana;
    font-size: 10px;
    text-decoration: underline;
	font-weight: bold;
}
*/

