﻿body {
}
.tableCase
{
  width:930px;  
  margin-left:30px;
  margin-right:10px;
  text-align:left;
  height:55px; 
}
.tdCase
{
   width:25%;
   background-image:url(../img/header_case.gif);
   background-position:center;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;  	
    
}
.tdCaseId
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
   border-top:2px solid #1e951f;
  
}
.tdReceivedate
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdReceiveby
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdCaseStatus
{
  width: 25%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
} 
.tdComplaintindex
{
  width:25%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdModifieddate
{
  width:25%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.tdModifiedby
{
  width:25%;
   background-color:#999999;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
}
.txtBox
{
	
	font-size:0.9em;
	font-family:Arial;
	color:Black;	
}
.tdCasestatus
{
	width:100%;
	  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
	
}
.tableCase
{
  width:930px;  
  margin-left:30px;
  margin-right:10px;
  text-align:left;
  height:54px; 
}
.tdComplaintdetails
{
   width:25%;
   background-image:url(../img/);
   background-position:center;
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;  	
    
}
.tdTitle
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  
}
.tdName
{
   width:25%;
    background-color:#999999;
   border-left:2px solid #1e951f; 
   border-top:2px solid #1e951f;
  
}
.tdDistrict
{
	width:100%;
	  background-color:#999999;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
	
}
