﻿/*needs font-awesome.min.css from https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css 
    relative image location by CSS rules with ../img because there is no runat=server attribute 

*/

.container { /* style for the DIV surrounding the imgage and roll-over image*/
    position: relative;
    width: 15px;
    max-width: 400px;
    align-items: flex-end;
    display: flex;
}

.image { /* style for the image outside the overlay DIV*/
    display: block;
    width: 15px;
    height: auto;
}

.imagero { /*style for the rollover image DIV*/
    display: block;
    width: 15px;
    height: auto;
}
.overlay { /*normally blocks out the imagero PNG inside this DIv*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
}

.container:hover .overlay {
    opacity: 1; /* lets you see the image inside the overlay DIV for Chrome */

}

