﻿/* CSS Document */
.faq{
	position:absolute;
	left:640px;
	top:28px;
}
.logout {
    position: absolute;
    left: 750px;
    top: 28px;
}
.tabOne{
	position:absolute;
	left:50px;
	top:105px;
}
.tabTwo{
	position:absolute;
	left:220px;
	top:105px;
}
.tabThree{
	position:absolute;
	left:390px;
	top:105px;
}
.tabFour{
	position:absolute;
	left:560px;
	top:105px;  
}
.tabFive{
	position:absolute;
	left:730px;
	top:105px;
}
.link {
	color:#F60;
	text-decoration:none;
}

.link:hover {
	color:#666;
}

body { /*
	background-image:url(../img/background.jpg);
	background-color:#FFF;
	background-repeat:repeat-x;
	color:#333; */
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:absolute;
	}

.feedbackStatus{
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#F60;
}
.sidebox {
	position:absolute;
	vertical-align:top;
	top:100px;
	left:0px;
}

.helptxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	position:absolute;
	top:80px;
	left:512px;
	color:#090;
}

.headertext {
	font-size:18px;
	font-weight:bolder;
	color: #205a0d;
}
.dashImg{
	vertical-align:bottom;
}
.dashHeaderTxt{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#fff;
	background-color:#1f951f;
	background:#1f951f;
	font-weight:bold;
	height:18px;
	border-color:#c4c4c4;
	border-collapse:collapse;
}
.dashLineStyle{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	text-align:left;
	height:17px;
	
	}
	.dashAltLineStyle{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	background:#ededed;
	text-align:left;
	height:17px;
	border-color:#c4c4c4;
	border-collapse:collapse;
}
.headerHelptext {
	font-size:14px;
	font-weight:bolder;
	color: #205a0d;
}
.footerTxt{
	font-family:Verdana, Geneva, sans-serif;
	font-size:8px;
}

.subheadertext 
{
    font-size:13px;
    font-weight:bold;
    color:#205a0d;
}

.edittext 
{
    font-size:11px;
    font-weight:bold;
    color:#000;
}

table.main {
	position:absolute;
	left:70px;
	top:121px;
}
.listBoxA {
    width:346px;
    font-size:10px;
    height:355px;
    border:0px;
    border-color: #1e951f;
}

.listBoxB {
    width:346px;
    font-size:10px;
    height:390px;
    border:0px;
    border-color: #1e951f;
}

.listEdit {
    width:340px;
    font-size:10px;
    height:390px;
    border:0px;
    border-color: #1e951f;
}

.loginBox 
{
    width:411px;
    border:1px none #205a0d;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#FFF;
    background-color: #205a0d;
}
.loginBoxInternal
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#000;
    background-color: #a4d49a;
}
.loginBoxLower
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:bold;
    color:#000;
    width:350px;
}
.txtBoxReadOnly
{
	background-color:#cccccc;
	font-size:1.3em;
	font-family:Arial;
	margin-right: 7px;
}
.tdReadOnly
{
  width:23%;
   background-color:#999999;
   border:1px solid #1e951f;
}
.tdLabeling
{
  font-size:0.9em;
  font-weight:normal;
  font-family:Arial;  
  margin:0px 5px 0px 3px;
  _margin-left:5px;
}
.borderless {
border: none;
background-color:white;
}



.MyCalendar .ajax__calendar_container
{    
	  
     background-color:#E2F6E2;    
   
}

.MyCalendar .ajax__calendar_other .ajax__calendar_day,.MyCalendar .ajax__calendar_other .ajax__calendar_year {    color: #717D7D;}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,.MyCalendar .ajax__calendar_hover .ajax__calendar_month,.MyCalendar .ajax__calendar_hover .ajax__calendar_year {    color: black;}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,.MyCalendar .ajax__calendar_active .ajax__calendar_month,.MyCalendar .ajax__calendar_active .ajax__calendar_year {    color: black;    font-weight:bold;}

