﻿<%@ Master Language="C#"    Inherits="DSNY.DSNYCP.DS249.MasterPage" Codebehind="MasterPage.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>Department Of Sanitation</title>
    <link href="includes/css/DSNYcss.css" rel="stylesheet" type="text/css" />
    <link href="includes/css/DashboardStyle.css" rel="stylesheet" type="text/css" />

    <!-- next two css to achieve roll-over effect for imgStatus sometimes shown in the dashboard grids -->
    <link href="includes/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="includes/css/ASPimageRollOver.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .modal
        {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
        .loading
        {
                    font - family: Arial;
            font-size: 10pt;
            border: 5px solid #b6ff00;
            margin: auto;
            width: 5%;
            height: 5%;
            display: none;
            position: fixed;
            background-color: White;
            background-image:url("/includes/img/loading.gif");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            z-index: 999;
        }
        </style>    
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">


        function OpenPrint(IndexNo)
        {
            var URL = "Print.aspx?Id=" + IndexNo;
        var dialogResults = window.open(URL, '');
        return false;
        }

        function OpenModalWindow(URL)
            {
                window.showModalDialog(URL, 'Complaint History', 'dialogWidth:975px;dialogHeight:770px;scroll:yes');
            return false;
        }

        function ShowProgress()
            {
                setTimeout(function ()
                {
                    var modal = $('<div />');
                    modal.addClass("modal");
                    $('body').append(modal);
                    var loading = $(".loading");
                    loading.show();
                    var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
                    var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
                    loading.css({ top: top, left: left });
                }, 200);
        }
        function hideLoader()
            {
                var loading = $(".loading");
            loading.hide();
            var modal = $(".modal");
            modal.hide();
        }



        function OpenHelp() {
            // alert("hello");
            //window.open('../HelpFile/Advocatehelp.htm');
            window.open('../HelpFile/help.htm');
            return false;
        }



        function OpenHelp() {
            window.open('../HelpFile/help.htm');
            return false;
        }



        function OpenAdvocateHelp() {
            window.open('../HelpFile/Advocatehelp.htm');
            return false;
        }

        function OpenBCADHelp() {
            window.open('../HelpFile/BCADhelp.pdf');
            return false;
        }
    </script>




    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>


</head>
<body >
<div style="margin-top: 0px; margin-left: 0px;">
    <form id="form1" runat="server">
        <div class="headertext">
            <asp:Image runat="server" SkinID="skidClear" height="10" width="82" /> DS 249       
        </div>
        <div style="margin-top:2px; width: 950px; background-color: #D3D0D0">
            <table  width="945" cellpadding="0" cellspacing="0"   >
                <tr>
                    <td height="107" valign="top" colspan="7">
                
                        <asp:ImageButton ID="ImageButton1" ImageUrl="~/includes/img/ds249_header.png"
                            runat="server" Height="77" Width="955" CausesValidation="false" OnClick="ImageButton1_Click" />
                    </td>   
                </tr>
                <tr>
                    <td height="28" valign="top" >
                        <asp:ImageButton ID="ibHelp" ImageUrl="~/includes/img/faq.png" class="faq" Width="100"
                            runat="server" />
                    </td>   
                    <td height="28" valign="top">
                        <asp:ImageButton ID="btnlogout" ImageUrl="~/includes/img/logout.png" CausesValidation="false"
                            class="logout" runat="server" OnClick="btnlogout_Click" />
                    </td> 
                    <td height="28" valign="top">
                        <asp:ImageButton ID="ibDS249" runat="server" ImageUrl="~/includes/img/ds249_main_tab_off.png"
                            class="tabOne" Visible="False" OnClick="ibDS249_Click" CausesValidation="False"
                                />
                    </td>   
                    <td height="28" valign="top">
                        <asp:ImageButton ID="ibBCAD" runat="server" ImageUrl="~/includes/img/tab_bcad_off.png"
                            class="tabTwo" Visible="False" OnClick="ibBCAD_Click" CausesValidation="False" />
                    </td>   
                    <td height="28" valign="top">
                        <asp:ImageButton ID="ibAdvocate" runat="server" ImageUrl="~/includes/img/tab_advocate_off.png"
                            class="tabThree" Visible="False" OnClick="ibAdvocate_Click" CausesValidation="False" />
                    </td>   
                    <td height="28" valign="top">
                        <asp:ImageButton ID="ibMedical" runat="server" ImageUrl="~/includes/img/tab_medical_off.png"
                            class="tabFour" Visible="False" OnClick="ibMedical_Click" CausesValidation="False" /> 
                    </td>   
                    <td height="28" valign="top">
                        <asp:ImageButton ID="ibEmployee" runat="server" ImageUrl="~/includes/img/EMPLOYEE_main_OFF.png"
                            class="tabFive" Visible="False" onclick="ibEmployee_Click" CausesValidation="False"/>    
                    </td>
                </tr>
            </table>    
        </div>

                
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
        </asp:ScriptManager>
        <div>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        
        <table width="955" cellpadding="0" cellspacing="0" border="0" align="left">
            <tr>
                <td width="33%" class="footerTxt">
                    ©<%=DateTime.UtcNow.Year%> DEPARTMENT OF SANITATION - CITY OF NEW YORK.
                </td>
                <td width="33%" class="footerTxt" align="center">
                    BUILD NUMBER: Coded with VS2019 for WinOS 2016 IIS
                </td>
                <td width="34%" class="footerTxt" align="right">
                    POWERED BY S.M.A.R.T.
                </td>
            </tr>
            <tr >
                <td width="955" colspan="3">
                    <asp:Image runat="server" SkinId="skidMasterFooter" height="19" width="955"  />
                </td>
            </tr>
        </table>
        <div id="loader" class="loading" >
        Loading. Please wait.<br />
        </div>
    </form>
    </div>

</body>
</html>
